name: CI для лабы 4

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: статы
        uses: actions/checkout@v4
      - name: Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: подгрузка
        run: |
          pip install --upgrade pip
          pip install -r updating.txt

      - name: Задание мейн 
        run: |
          python PythonProject3/1.py tests/task1.yml task1.bin
          test -f task1.bin && echo "task1.bin создан"

      - name: Доп №1
        run: |
          python PythonProject3/dop1.py task1.bin task1.json
          diff -u -w task1_ET.json task1.json || (echo JSON не совпадает с эталоном && exit 1)

      - name: Доп №2 
        run: |
          python PythonProject3/dop2.py task1.yml task2.bin
          test -f task2.bin && echo "task2.bin создан"
      - name: Доп №2.1 
        run: |
          python PythonProject3/dop2_1.py task12.bin task2.json
          diff -u -w task2_ET.json task2.json || (echo JSON не совпадает с эталоном && exit 1)
          
      - name: Доп №3 
        run: |
          python PythonProject3/dop3.py task1.bin task3.xml
          diff -u -w task3_ET.xml task3.xml || (echo XML не совпадает && exit 1)

      - name: Доп №4 – замер 
        run: |
          python PythonProject3/dop4.py

      - name: Загрузка артефактов
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            task1.json
            task2.json
            task3.xml
            task1.bin
